.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
}

.logolink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  color: #222;
  font-weight: 500;
}

.logo {
  margin: 8px 4px 8px 16px;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem {
  margin: 0;
  padding: 24px 8px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 0.1s ease;
  color: #222;
}

.listItem:hover {
  border-bottom: 2px solid gray;
  transition: border 0.3s ease;
}
