.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 8px 16px;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem {
  margin: 0;
  padding: 24px 8px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 0.1s ease;
}

.listItem:hover {
  border-bottom: 2px solid gray;
  transition: border 0.3s ease;
}
